html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000f14;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.main-title {
  font-family: "Playwrite CZ", cursive;
  font-size: 4rem;
  color: #d4b483;
  margin-bottom: 2rem;
  font-weight: 300;
}

.step-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.appleid-signin {
  cursor: pointer;
  width: 350px;
  height: 50px;
}

.discord-signin {
  --tw-bg-opacity: 1;
  background-color: #5865f2;
  padding: 12px 5px;
  margin-top: 10px;
  display: block;
  width: 340px;
  text-justify: center;
  font-size: 22px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-radius: 10px;
}
